= javascript_include_tag 'bower_components/jquery/dist/jquery.min.js'
= javascript_include_tag 'bower_components/bootstrap/dist/js/bootstrap.min.js'
/[if lt IE 9]
  = javascript_include_tag 'bower_components/html5shiv/dist/html5shiv.min.js'
  = javascript_include_tag 'bower_components/respond/dest/respond.min.js'
  %script
    var ltie9 = true
