%h1.test1
  headline

%p
  Here is the index page content.
%p
  And more index content.

%p
  this comes from shared/shared_helper.rb:
  = sharedhelper_method

%p
  this comes from test1/test_helper.rb:
  = testhelper_method
