%h1
  Generate web_root

%p
  There are two  ways to generate plain HTML/CSS/JavaScript code from your dev_root.

%p
  The first way is to type 'ehc generate' (or 'ehc g' for short) from your commandline.
  %br
  This wil automaticly parse all the dev_root projects.

%p
  The second avalible methode is the one tought four developing your website.
  %br
  Using the build in
  =link_to 'webserver', 'server.html'
