%h1
  This website contains the documentation for Easy HTML Creator.

%p
  Easy HTML creator is a Ruby Gem that maks it easy to genarate plain HTML
  websites.
%p
  The website can be programmed using HAML, Coffee and SASS if wished.
  %br
  If SASS is used, it wil automatically include Bootstrap to your code.

%h2
  Where can I find it?

%ul
  %li=link_to 'Github.com', 'https://github.com/dennisvandehoef/easy-html-creator', {target: '_BLANK'}
  %li=link_to 'Rubygems.org', 'https://rubygems.org/gems/easy_html_creator', {target: '_BLANK'}
  %li=link_to 'Blog: Dennis van de Hoef', 'http://hoefweb.nl/ruby/easy-html-creator', {target: '_BLANK'}
  %li=link_to 'Blog: Tom Hanoldt', 'http://www.tomhanoldt.info/web/code/ruby/easy-html-creator', {target: '_BLANK'}

