!!!
%html{lang: 'de'}
  %head
    = render_partial '_metadata'
    = render_partial '_assets'

  %body{class: body_class}
    .header
      .header-inner= render_partial '_header'
    .content= yield
    .footer
      This website is generate using Easy HTML Creator and Yard.
