%h1
  Webserver

%p
  Using the command 'ehc server' (or 'ehc s' for short) you will create a basic webserver wich automatticly re-parses you project when you are browsing around (no worry's it's fast ;)).

%p
  Use 'ehc server --ip-adres 127.0.0.1 --port 5678' to bind it to a costume ip-adress and/or port number.
